

<div class="row">
	<% @teachers.each do |teacher| %>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag teacher.photos[0].image.url(:medium) if teacher.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%= link_to teacher.teaching_statement, teacher %>
				</div>
			</div>
		</div>

	<% end %>
</div>
