.form {
  .form-group {
    max-width: 400px;
    margin: 20px auto;
  }

  .fb-btn {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
  }

  .fa {
    font-size: 20px;
    margin-right: 10px;
  }
}
